COZE_STREAM_RUN_URL=https://k2h62g6g38.coze.site/stream_run
COZE_TOKEN=replace_me
COZE_SESSION_ID=FvwrSXDstwtVo5DOAa4be
COZE_PROJECT_ID=7620286753450016802
UPSTREAM_CONNECT_TIMEOUT=15
UPSTREAM_READ_TIMEOUT=180
UPSTREAM_WRITE_TIMEOUT=30
UPSTREAM_POOL_TIMEOUT=30
